[2022-09-02 14:42] lvltoni opened #1 "Request: Make this work with books that are in PDF format already"
Hi, this seems great, but I believe that it only works with books that are in ePub format on Perlego. Is there any chance it could be expanded to include books that are in .pdf format already?

[2022-09-02 15:53] evmer commented on #1
Hi, thank you for the interest.

I submitted the commit and PDF downloads are now supported. I apologise, the whole script is basically uncommented spaghetti code. But I added the first working implementation and it does the job. Maybe I'll refactor it later.

[2022-09-02 18:27] #1 closed

[2022-09-03 20:24] lvltoni commented on #1
Thank you so much for your fast response, it works perfectly! Great work.

Might be worth mentioning in the readme that Debian/Ubuntu users will need the [static version of wkhtmltopdf ](https://wkhtmltopdf.org/downloads.html) rather than the lastest release!

[2022-09-04 09:55] jaan143 opened #2 "help"
First of all thank you very much for this script
as like this script can you please create same in scribd books ?
they have very large library and its very helpful for peoples :)

[2022-09-05 17:33] jaan143 opened #3 "error"
hello
i am getting this error dear

building pdf...
Traceback (most recent call last):
  File "downloader.py", line 141, in <module>
    f.write(content)
  File "C:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\encodings\cp1252.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0]
UnicodeEncodeError: 'charmap' codec can't encode character '\ue000' in p

[2022-09-05 17:54] evmer commented on #3
Hello, can you please post the book url/id so I can investigate the issue? Thank you.

[2022-09-05 17:58] evmer commented on #2
Hello, can't promise you anything but I plan to create a downloader even for Scribd books soon!

[2022-09-05 17:58] #2 closed

[2022-09-06 01:32] a-sinclaire commented on #3
I also ran into this same (or a similar) issue...

[code]

What I suspect is going on is when we open the file (one line earlier line 140) it is creating a file with a format which cannot support certain encoded characters.

I fixed this issue for me by altering line 140 to create the file with encoding 'utf-8'
`f = open(f'epub_{BOOK_ID}/{page_no}.html', 'w', encoding='utf-8')`

[2022-09-06 01:40] a-sinclaire opened #4 "Incorrect PDF"
Hi, don't know if you can help with this issue...

I eventually got the script to run after making a few modifications:
I added encoding to line 140
`f = open(f'epub_{BOOK_ID}/{page_no}.html', 'w', encoding='utf-8')`
and on line 146 I included the option to enable-local-file-access
`pdfkit.from_file([f'epub_{BOOK_ID}/{i}.html' for i in range(page_no)], f'{BOOK_ID}.pdf', options={'encoding': 'UTF-8

[2022-09-06 07:04] jaan143 commented on #3
@evmer  i tried same your book also this one
https://www.perlego.com/book/2173908/good-work-how-to-build-a-career-that-makes-a-difference-in-the-world-pdf

i tried both books which you showed in tutorial but getting same error

[2022-09-06 07:09] jaan143 commented on #3
@a-sinclaire i replaced your given line in line 140 but now i am getting this error
building pdf...
INFO: Could not find files for the given pattern(s).
Traceback (most recent call last):
  File "C:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\site-packages\pdfkit\configuration.py", line 35, in __init__
    with open(self.wkhtmltopdf) as f:
FileNotFoundError: [Errno 2] No such file or direc

[2022-09-06 07:26] jaan143 commented on #2
@evmer  thank you very much and if you want subscription account i will provide you :)
please try to do that also :)

[2022-09-06 07:28] evmer commented on #3
Thanks @a-sinclaire for the contribution. I'll do some tests and create a pull request to update the script.

@jaan143 the script cannot find the wkhtmltopdf executable, make sure you have it installed.
Also, you can give the script the full path of the executable:

[code]

[2022-09-06 07:30] evmer commented on #4
Yeah, the script is not battle-tested for all different kind of books so this issue was expected. Can you please give me the BOOK_ID so I can investigate the problem? Thank you!

[2022-09-06 07:48] jaan143 commented on #3
@evmer  images are missing from pdf
this one i tried
https://www.perlego.com/book/3290633/environment-and-society-a-critical-introduction-pdf

[2022-09-06 09:19] jaan143 commented on #4
@evmer  try this one its missing chapters
https://www.perlego.com/book/2568251/english-rhythm-and-blues-where-language-and-music-come-together-pdf

[2022-09-06 09:32] evmer commented on #3
@jaan143 thanks for reporting this to me. Now I should have fixed the issue. Not sure if it's the perfect solution, but for now it does the job. let me know!

[2022-09-06 09:34] jaan143 commented on #3
@evmer  thanks dear and what about the missing chapter issue ?
https://www.perlego.com/book/2568251/english-rhythm-and-blues-where-language-and-music-come-together-pdf

[2022-09-06 10:05] #3 closed

[2022-09-06 10:06] evmer commented on #4
The issue should have been fixed, let me know

[2022-09-06 15:28] a-sinclaire commented on #4
Looks like your fixed totally worked for me!

I did get an error at the end, but it didn't seem to affect the output.
[code]

[2022-09-06 16:10] #4 closed

[2022-09-06 16:38] jaan143 opened #5 "paragraphs issue"
please check whole book have this text issue

![Screenshot 2022-09-06 213612](https://user-images.githubusercontent.com/15013833/188689431-2ac3699e-0862-41a5-8e22-7e3469862bb5.jpg)
![Screenshot 2022-09-06 213540](https://user-images.githubusercontent.com/15013833/188689451-1707ddfc-c00f-4fc0-b8d6-ad96032efeda.jpg)

this is book link
https://www.perlego.com/book/3294395/second-language-pronunciatio

[2022-09-06 21:02] evmer commented on #5
Thanks for reporting this to me. After some research I found that this is related to a pdfkit/wkhtmltopdf bug that seems to have been ongoing for 4+ years:

https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3256
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/45

Unfortunately there's no solution yet, so all I can do is refactor the script replacing pdfkit with another html2pdf library. It's goi

[2022-09-07 10:07] jaan143 commented on #5
@evmer  well you can check this topic mostly peoples fixed in dpi setting and some not
https://stackoverflow.com/questions/34241932/letter-spacing-is-too-large-with-wkhtmltopdf

[2022-09-07 23:01] evmer commented on #5
@jaan143 I refactored the script replacing pdfkit with pyppeteer. Now this bug should be fixed, you can try yourself.

Don't forget to update the python requirements:

[2022-09-08 07:16] jaan143 commented on #5
@evmer  thanks for your efforts Dear :)
here is error while converting to pdf in new script

page 347 downloaded
Traceback (most recent call last):
  File "downloader.py", line 183, in <module>
    asyncio.get_event_loop().run_until_complete(html2pdf())
  File "C:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\asyncio\base_events.py", line 616, in run_until_complete
    return future.result()

[2022-09-08 07:33] evmer commented on #5
@jaan143 seems your system is missing some required dependencies:

https://stackoverflow.com/questions/57217924/pyppeteer-errors-browsererror-browser-closed-unexpectedly

[2022-09-08 12:36] jaan143 commented on #5
@evmer  check this
downloader.py:183: DeprecationWarning: There is no current event loop
  asyncio.get_event_loop().run_until_complete(html2pdf())

i read a lot topics and they fixing issue in their project code
i think you need to add timeout session
but i dont know exactly

[2022-09-08 15:57] jaan143 commented on #4
@a-sinclaire will you experience this ? may be you can help me to fix this issue
https://github.com/evmer/perlego-downloader/issues/5

[2022-09-08 16:05] evmer commented on #5
@jaan143 can you please describe better your issue?

This is just a warning and shouldn't break the script execution:

`downloader.py:183: DeprecationWarning: There is no current event loop
asyncio.get_event_loop().run_until_complete(html2pdf())`

[2022-09-08 16:09] jaan143 commented on #5
@evmer  actually issue is the same which i show above
and i spend whole day to get help from internet (github stackoverflow etc)
but cannot get proper answer mostly there are linux related helps

Traceback (most recent call last):
File "downloader.py", line 183, in
asyncio.get_event_loop().run_until_complete(html2pdf())
File "C:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\asyncio\base_even

[2022-09-08 16:24] evmer commented on #5
@jaan143 I updated the script, can you please try now?

[2022-09-08 16:25] jaan143 commented on #5
@evmer  ok let me confirm you

[2022-09-08 16:29] jaan143 commented on #5
@evmer  still the same. what OS you are using ?
C:\Users\Hp\Downloads\Compressed\perlego-downloader-main\perlego-downloader-main 5\perlego-downloader-main\downloader.py:184: DeprecationWarning: There is no current event loop
  asyncio.get_event_loop().run_until_complete(html2pdf())
Traceback (most recent call last):
  File "C:\Users\Hp\Downloads\Compressed\perlego-downloader-main\perlego-downloade

[2022-09-08 17:17] evmer commented on #5
@jaan143 I tested it on MacOSX, Linux (Debian) and Windows 10, so it seems a problem related to your configuration.

Can you please follow [these instructions](https://github.com/pyppeteer/pyppeteer/issues/108#issuecomment-642034439) for troubleshoot and post the output here?

[2022-09-08 17:27] jaan143 commented on #5
@evmer  he saying copy command and run in powershell or cmd but he is asking for docker or aws.
anyway i just copied and past in my powershell and here screenshot you can see
![Screenshot 2022-09-08 161259](https://user-images.githubusercontent.com/15013833/189186931-c639a225-9226-4d2d-8799-78cecb6ed994.jpg)

[2022-09-08 17:31] evmer commented on #5
@jaan143 can you please copy-paste the print command and run it? I mean this:

<img width="804" alt="image" src="https://user-images.githubusercontent.com/10036897/189187591-bf58c910-97d2-41f3-b70f-5a420cdaaef6.png">

[2022-09-08 17:35] jaan143 commented on #5
@evmer  here is
![Screenshot 2022-09-08 223526](https://user-images.githubusercontent.com/15013833/189189031-dad3e15f-94f7-4dac-836e-0111aaf64947.jpg)

[2022-09-08 17:42] evmer commented on #5
@jaan143 to run an executable on powershell you first have to 'dot' source the script, so for you:

`./root/.local/share/pyppeteer/local-chromium/588429/chrome-linux/chrome...etc.`

[2022-09-08 17:44] jaan143 commented on #5
@evmer here is with dot
![Screenshot 2022-09-08 224425](https://user-images.githubusercontent.com/15013833/189190592-5df9ff42-0cb2-4d33-a6e3-929d4b12b4cd.jpg)

[2022-09-08 17:46] evmer commented on #5
@jaan143 I'm not familiar with powershell, try to google the error and make it work

[2022-09-08 17:48] jaan143 commented on #5
@evmer  here is cmd
![Screenshot 2022-09-08 224751](https://user-images.githubusercontent.com/15013833/189191194-f8ccae8b-97fb-4372-91cd-23c431727a5e.jpg)

[2022-09-09 01:43] lilfmdude commented on #5
![unknown](https://user-images.githubusercontent.com/34497266/189254622-a696180e-2f63-43d8-8a0c-5c2fb0884aa5.png)

this is what i get any idea i got it this far

[2022-09-09 03:20] smack893 opened #6 "websocket expception error"
![image](https://user-images.githubusercontent.com/64412656/189265144-77447ecf-2740-4db6-b878-98db46ee98f0.png)

[2022-09-09 03:31] smack893 commented on #6
![image](https://user-images.githubusercontent.com/64412656/189266223-7906491e-dc44-4fc3-95c7-624edb5c2565.png)
same issue in linux

[2022-09-09 09:14] evmer commented on #6
Hello, can you please share the BOOK_ID so I can investigate the issue?

[2022-09-09 14:20] smack893 commented on #6
Book ID: 1425905
also found another issue see the below image it cut down page and show complete empty page
![image](https://user-images.githubusercontent.com/64412656/189371748-32a53784-15c5-4da3-88a6-03e84aea6201.png)

[2022-09-09 16:04] evmer commented on #6
@smack893

Regarding the first issue ("Illegal frame"), I'll replace the websocket library with a more stable one. In the meanwhile, you can just restart the script and it'll be fine.

Unfortunately there's not much we can do to fix the wrong page splitting bug. The original book format is EPUB (= infinite content size) and the output is a PDF document, so the original content is split into multip

[2022-09-09 16:04] #6 closed

[2022-09-11 01:52] a-sinclaire commented on #4
Sorry! I was helping out a friend and don't have access to my own Perlego account, and can't help or test any more issues relating to this project. Best of Luck!

[2022-09-11 12:56] smack893 commented on #5
did you have a plan to update

[2022-09-11 16:51] lyyangyy opened #7 "Connection to remote host was lost?"
Hi all!

Sorry, i'm relatively new to all these coding, so hopefully it's an easy fix for someone out there. I followed the instructions as per your video, however I'm receiving  the following error:

"websocket._exceptions.WebSocketConnectionClosedException: Connection to remote host was lost."

Any help would be appreciated. Thanks in advance

![Screen Shot 2022-09-11 at 23 49 37](https://user-i

[2022-09-11 19:59] evmer commented on #7
Hello!

Unfortunately it's a known issue, see #6. The websocket library is unstable and connection exceptions are not properly handled. I plan to refactor the script, so please have patience. For now, you can try to restart the script and hopefully it'll be fine.

[2022-09-12 03:01] lilfmdude commented on #5
i don't know if im getting closer i am getting this now
![image](https://user-images.githubusercontent.com/34497266/189566204-25bfff4a-dc8f-433e-b5eb-47ba2e283efc.png)

[2022-09-12 03:14] lilfmdude commented on #5
this one is new too hopefully I'm not annoying you with all this
![image](https://user-images.githubusercontent.com/34497266/189567304-88acb769-96e5-4003-9f45-b27865768c0e.png)

[2022-09-12 05:11] lyyangyy commented on #7
Thanks

Thanks a lot for the prompt reply. You're doing gods work :D

I wish I could help, but this is all new to me :(

[2022-09-12 05:11] lyyangyy commented on #7
Thanks a lot for the prompt reply. You're doing gods work :D

I wish I could be of more assistance, but this is all new to me :( Thanks again!

[2022-09-12 07:48] paletisuresh opened #8 "JSONDecodeError("Expecting value", s, err.value) from None"
I am new to python and don't know anything. Getting below error can you please help out on this

C:\Users\dell\Downloads\perlego-downloader-main>python3 downloader.py
Traceback (most recent call last):
  File "C:\Users\dell\Downloads\perlego-downloader-main\downloader.py", line 38, in <module>
    data_content = json.loads(json.loads(data['data']['content']))
  File "C:\Program Files\WindowsApps\P

[2022-09-12 09:44] jaan143 commented on #4
@a-sinclaire  i will not take your account
evan you get access to my account but please i need help to fix my issue :(

[2022-09-12 10:05] jaan143 commented on #5
@evmer  i dont want to delete html files so can you tell me which lines i need to remove from script code
then html files will not be delete ?

[2022-09-12 10:28] evmer commented on #5
Guys, this is not a chat group, please try to follow the Github's guidelines. The original problem was solved by replacing pdfkit with pyppeteer so now I'll mark this as closed. Feel free to open a new request providing detailed info about your issue.

@lilfmdude please see my reply to #7.
@jaan143 i can't address issues regarding puppeeter/pyppeteer. Your OS configuration may be different, try to

[2022-09-12 10:28] #5 closed

[2022-09-12 10:29] #7 closed

[2022-09-12 11:11] evmer commented on #7
The bug is now fixed. If the websocket connection is lost, the script will try to reconnect and resume the download:

<img width="842" alt="image" src="https://user-images.githubusercontent.com/10036897/189639222-54d147f3-0924-4a84-8874-7c464ea5d360.png">

[2022-09-12 11:12] evmer commented on #6
This bug is now fixed. If a 'Illegal frame' is received, the script will try to reconnect to websocket and resume the download.

[2022-09-12 11:46] paletisuresh commented on #8
Bookid: 3526154 thanks for your reply

On Mon, 12 Sep, 2022, 4:00 pm evmer, ***@***.***> wrote:

[2022-09-12 15:06] evmer commented on #8
@paletisuresh thanks for reporting this to me. This is a bug and it'll be fixed soon

[2022-09-12 15:26] evmer commented on #8
Bug should be fixed now, let me know

[2022-09-12 15:42] paletisuresh commented on #8
Awesome now its working fine but getting below error after downloading
Bookid: 3255865

C:\Users\dell\Downloads\perlego-downloader-main
(1)\perlego-downloader-main>python3 downloader.py
chapters 0 downloaded
chapters 1-2 downloaded
chapters 3 downloaded
chapters 4 downloaded
chapters 5 downloaded
chapters 6 downloaded
chapters 7 downloaded
chapters 8 downloaded
chapters 9 downloaded
chapters 10 do

[2022-09-12 15:48] q7z commented on #8
Same issue here for me:
Traceback (most recent call last):
  File "C:\Users\ofzah\Videos\per\downloader.py", line 203, in <module>
    asyncio.run(html2pdf())
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\lib\asyncio\runners.py", line 44, in run
    return loop.run_until_complete(main)
  File "C:\Program Files\WindowsApps\PythonSoftwareFound

[2022-09-12 17:01] paletisuresh commented on #8
solved above error with  pyppeteer-install.exe

now getting new error

Traceback (most recent call last):
  File "C:\Users\dell\Downloads\perlego-downloader-main
(1)\perlego-downloader-main\downloader.py", line 218, in <module>
    asyncio.run(html2pdf())
  File "C:\Program
Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2032.0_x64__qbz5n2kfra8p0\lib\asyncio\runners.py",
line 44, in ru

[2022-09-12 17:11] evmer commented on #8
@paletisuresh I patched the script, can you try and let me know if the issue persists?

[2022-09-12 17:42] evmer commented on #8
@paletisuresh can you post the full error message? I need to know the part after "Browser closed unexpectedly:".

[2022-09-12 17:43] paletisuresh commented on #8
nothing after that

Traceback (most recent call last):
  File "C:\Users\dell\Downloads\Compressed\perlego-downloader-main\downloader.py", line 218, in <module>
    asyncio.run(html2pdf())
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.2032.0_x64__qbz5n2kfra8p0\lib\asyncio\runners.py", line 44, in run
    return loop.run_until_complete(main)
  File "C:\Program Files\

[2022-09-12 18:15] evmer commented on #5
@jaan143 I added some troubleshooting guidelines in the [readme](https://github.com/evmer/perlego-downloader/blob/main/README.md#troubleshoot), let me know if you can solve your issue. Please consider to download the latest version of the script, I fixed some few bugs.

[2022-09-12 18:17] paletisuresh commented on #8
I followed the steps, still getting same error

C:\Users\dell\Downloads\Compressed\perlego-downloader-main>python3 pyscript.py
C:\Users\dell\AppData\Local\pyppeteer\pyppeteer\local-chromium\588429\chrome-win32\chrome.exe --disable-background-networking --disable-background-timer-throttling --disable-breakpad --disable-browser-side-navigation --disable-client-side-phishing-detection --disable-defau

[2022-09-12 19:14] lilfmdude opened #9 "error"
I have downloaded the new script but I'm still getting errors also the book id I'm trying is 1323963 maybe it has something to do with it? I do not know hope this helps you.
![image](https://user-images.githubusercontent.com/34497266/189736536-d11d6607-6ba4-450a-949c-1cbbe9020cbc.png)

[2022-09-12 19:15] evmer commented on #9
Hello, same issue of #8

Did you follow [these troubleshoot guidelines](https://github.com/evmer/perlego-downloader#troubleshoot)?

[2022-09-12 19:16] evmer commented on #8
Discussion moved to #9

Original bug is solved so I close this issue

[2022-09-12 19:16] #8 closed

[2022-09-12 19:18] lilfmdude commented on #9
yes i just double checked book id and the auth is correct i even pasted it again just incase same error

[2022-09-12 19:21] evmer commented on #9
@lilfmdude the issue is not related to the book id or auth params, but to a misconfiguration of puppeeter/chrome driver dependences. Please follow these instructions:

<img width="877" alt="image" src="https://user-images.githubusercontent.com/10036897/189737851-55efe8f2-610c-4376-a559-8ae6d915a275.png">

[2022-09-12 19:23] lilfmdude commented on #9
can you give me a detail instructions on how to add it to my system path? or do i just added with the same perlego downloader?

[2022-09-12 19:27] evmer commented on #9
Download the latest version of chromedriver.exe [here](https://chromedriver.chromium.org/downloads) and place it in C:/Windows.

[2022-09-12 19:35] lilfmdude commented on #9
did exactly as you said still getting same error

[2022-09-12 19:54] jaan143 commented on #5
@evmer  its done now
Thank you very very much :)

[2022-09-12 19:55] evmer commented on #9
You can try to follow [this answer](https://stackoverflow.com/a/62305560/388951) on stackoverflow and debug pyppeteer by yourself. Pop up the terminal, run `python` to open the command-line interpreter and then:

[code]

Copy the result, exit from the python interpreter with `exit()`, paste the command in the terminal and run it. You should see the error that prevents pyppeeter from launching prop

[2022-09-12 19:56] evmer commented on #5
Finally! 😅 So was the missing chromedriver the issue?

[2022-09-12 20:00] lilfmdude commented on #9
this is what i get when pressing enter after inputting that command
![image](https://user-images.githubusercontent.com/34497266/189745170-11ec6fce-653f-4dc5-aaee-ebef33d6869e.png)

[2022-09-12 20:02] evmer commented on #9
@lilfmdude copy-paste the commands without the `>>>`

[2022-09-12 20:02] lilfmdude commented on #9
![image](https://user-images.githubusercontent.com/34497266/189745887-52f3a0d4-e32f-4798-bfbe-0e99acbf8ab3.png)
this is what i get

[2022-09-12 20:03] evmer commented on #9
@lilfmdude

[2022-09-12 20:06] lilfmdude commented on #9
like this?
![image](https://user-images.githubusercontent.com/34497266/189746908-5862de65-e8d7-4598-9568-92599964f990.png)

[2022-09-12 20:10] evmer commented on #9
@lilfmdude No...you're not following the instructions. Please read carefully what I wrote and try again.

[2022-09-12 20:15] lilfmdude commented on #9
sorry, when you say terminal you do you mean on the visual terminal? and if so if not i have no idea
![image](https://user-images.githubusercontent.com/34497266/189750060-e2759def-982c-48c5-884a-1e36c3b73344.png)

[2022-09-12 20:16] jaan143 commented on #5
@evmer not it was already set in path
problem was in pyppeteer which i reinstall and then pyppeteer reinstall chromium
but if i download epub book format its top and bottom margins of pages are very close with text and also page width and height is very big
and if download pdf format it is good

[2022-09-12 20:20] evmer commented on #5
You can try to adjust the margins (in pixels) at line 209: https://github.com/evmer/perlego-downloader/blob/main/downloader.py#L209

[2022-09-12 20:25] evmer commented on #5
Can you please elaborate the solution step-by-step? It's a very common issue and you'd make many users happy. Thank you!

[2022-09-13 02:58] lilfmdude commented on #9
hey so i got it to work i just installed a vm workstation slapped linux on it and it just worked first try thanks man! i guess its just windows side its just not working i don't know

[2022-09-13 07:19] jaan143 commented on #5
@evmer  can i also set page size like A4 or letter ?

[2022-09-13 14:17] jaan143 commented on #5
@evmer  see this
![Screenshot 2022-09-13 191525](https://user-images.githubusercontent.com/15013833/189925156-dc92c68e-1ddc-4310-afd0-6709eb83eadd.jpg)
after pdf i open and i saw some images are breaks in two pages
here is book url you can check
https://www.perlego.com/book/3260547/cell-biology-a-short-course-pdf

[2022-09-14 07:14] jaan143 opened #10 "uvloop does not support windows"
Collecting uvloop
  Using cached uvloop-0.16.0.tar.gz (2.1 MB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        Fil

[2022-09-14 07:35] evmer commented on #10
Thanks for reporting this to me. You're right and it isn't supported on Windows. https://github.com/MagicStack/uvloop/issues/14

I have removed uvloop.

[2022-09-14 07:36] jaan143 commented on #10
@evmer  did you fix image breaks issue in this new release ?

[2022-09-14 07:40] evmer commented on #10
@jaan143 No, there isn't much I can do atm. Read my reply to https://github.com/evmer/perlego-downloader/issues/6#issuecomment-1242165538

[2022-09-14 07:40] #10 closed

[2022-09-18 04:55] lyyangyy opened #11 "download error: Connection timed out""
Hello again,

Sorry to bother you again. I tried running the script again and to no avail :(

It's giving me an error "download error: Connection timed out"

Thanks in advance for your assistance !
![Screen Shot 2022-09-18 at 11 56 21](https://user-images.githubusercontent.com/84595741/190886470-64365e2e-de55-4d4b-8de6-93e59660488c.jpg)

[2022-09-18 19:13] evmer commented on #11
I'm afraid that it's a problem from your side, I was able to download your book without any issue:

<img width="1735" alt="image" src="https://user-images.githubusercontent.com/10036897/190924441-f097af5f-10e5-4bcd-a5a2-24ffa1dc2a7a.png">

Please check your internet connection & retry to run the script

[2022-09-19 05:51] StAnthonys opened #12 "Pyppeteer Error"
Hi there,

Im having issues with pdf books. so far all epubs work well.

Book ID is 3361318, and a folder is created with all the downloaded pages in html format, however error comes up before it converts to the hmtls to pdf and stitches it all together.

I also had to update line 19 (PUPPETEER_THREADS = 50) to 400. not sure, but it was originally only outputting the first 50 pages to html. I have

[2022-09-19 15:28] reallyallnamestaken opened #13 "Page UTF-8 encoding issue?"
I would come across some books with what looks to be character encoding issues.
These would be seemingly random pages (though always the same pages if I redo the download) in only certain books.

characters such as â€¢Â or ÂÂÂ, etc will appear across these pages.

[2022-09-22 08:47] reallyallnamestaken commented on #13
I found the issue to be due the we pages being UTF-8 encoded, but no header is set to let the browser know this.
As a workaround I modified the code to the needed header to the cache file.

[code]

[2022-09-22 21:24] evmer commented on #13
Hello, thank you for reporting this to me. I modified the script with your proposed fix.

[2022-09-22 21:24] #13 closed

[2022-09-22 21:26] #11 closed

[2022-09-23 20:14] Noiade opened #14 "uvloop does not support Windows at the moment"
uvloop does not support Windows at the moment - which makes the whole app incompatible with Win. any workarounds?

[2022-09-23 21:04] Noiade opened #15 "Ubuntu under WSL: Browser closed unexpectedly"
Traceback (most recent call last):
  File "downloader.py", line 243, in <module>
    asyncio.run(html2pdf())
  File "/usr/lib/python3.8/asyncio/runners.py", line 44, in run
    return loop.run_until_complete(main)
  File "/usr/lib/python3.8/asyncio/base_events.py", line 616, in run_until_complete
    return future.result()
  File "downloader.py", line 164, in html2pdf
    browser = await launch(op

[2022-09-24 08:39] evmer commented on #15
duplicate of #9

[2022-09-24 08:39] #15 closed

[2022-09-24 08:40] evmer commented on #14
uvloop has been removed few time ago, please update the script

[2022-09-24 08:40] #14 closed

[2022-09-24 22:03] Noiade commented on #9
Same for me. Reinstalled chromium several times. Put chromedriver to C:\WINDOWS. Chrome and pypeeter work perfectly. But the script does not:

C:\Users\forsite\Documents\perlego-downloader-main>C:\\Users\\forsite\\AppData\\Local\\pyppeteer\\pyppeteer\\local-chromium\\588429\\chrome-win32\\chrome.exe --disable-background-networking --disable-background-timer-throttling --disable-breakpad --disable-

[2022-09-25 13:47] Noiade commented on #9
Hello there! This solution helped me to troubleshoot under WSL/ubuntu and let pyppeteer work. So I managed to download the book finally - everything worked well.

Thanks a lot

[2022-09-27 01:27] cotagxrdhy commented on #9
Hi,I'm having the same problem, has anyone solved the problem on Windows ?

I followed the instructions to troubleshoot everything, but it still doesn't work

[2022-09-29 13:25] em4r opened #16 "plshelp"
when i try this $ pip3 install -r requirements.txt

  File "<stdin>", line 1
    $ pip3 install -r requirements.txt
    ^
SyntaxError: invalid syntax

[2022-09-29 19:53] #16 closed

[2022-09-30 17:17] abrahamsen911 opened #17 "ModuleNotFoundError: No module named 'PIL'"

[2022-09-30 17:20] #17 closed

[2022-10-01 01:40] dimoca commented on #12
Hello,

I have the same problem with the book ID 3263780 with 163 pages, I end up with the same error... and I can't find the solution.

[2022-10-01 15:44] lorenzolangone commented on #17
I have the same problem

[2022-10-01 15:45] lorenzolangone commented on #17
Ho did you manage it?

[2022-10-01 15:52] evmer commented on #17
@lorenzolangone install the Python dependences:

[code]

Please read [the README](https://github.com/evmer/perlego-downloader#readme) for further info.

[2022-10-01 15:52] lorenzolangone opened #18 "line 2, in <module> from PIL import Image ModuleNotFoundError: No module named 'PIL'"

[2022-10-01 15:53] evmer commented on #12
It should be a temporary network error. Have you tried to restart the script?

[2022-10-01 15:54] lorenzolangone commented on #17
i've done and if i try agian it states "Requirement already satisfied"

[2022-10-01 16:07] dimoca commented on #12
Yes, but the problem persists.  There is no way to make it finish successfully.  The html if you lls download all it is when you pass them to pdf when the error arrives.

[2022-10-02 04:11] Alexmonroeni opened #19 "PermissionError: [Errno 13] Permission denied:"
Traceback (most recent call last):
  File "/home/xxxxx/perlego-downloader/downloader.py", line 156, in <module>
    os.mkdir(cache_dir)
PermissionError: [Errno 13] Permission denied: '/home/xxxx/perlego-downloader/PDF_144322/'

[2022-10-02 11:07] evmer commented on #19
Add write permissions to the script folder

[2022-10-02 11:07] #19 closed

[2022-10-02 11:08] Alexmonroeni commented on #19
How do I do that? Sorry I’m very new to this, hope you can help me out :)

On Sun, Oct 2, 2022 at 7:07 AM evmer ***@***.***> wrote:

[2022-10-02 11:09] evmer commented on #18
This is not an issue of the script. Please install the correct python dependences, read the README.md or refer to [the official python docs](https://docs.python.org/3/installing/index.html).

[2022-10-02 11:09] #18 closed

[2022-10-02 11:10] evmer commented on #19
`chmod +w perlego-downloader `

[2022-10-02 11:11] Alexmonroeni commented on #19
Thanks so much :)

On Sun, Oct 2, 2022 at 7:10 AM evmer ***@***.***> wrote:

[2022-10-02 11:21] evmer commented on #12
I can't replicate this issue. Download of book ID 3263780 works fine for me:

<img width="1558" alt="image" src="https://user-images.githubusercontent.com/10036897/193451327-36c7224c-b887-4890-b947-87fd622f512a.png">

Anyway, I just applied a small patch to handle the network errors during the PDF parsing, hope it helps.

[2022-10-03 01:02] Alexmonroeni commented on #19
I tried giving it read and write permissions, and that fixed it, but now
its giving me this error after it finishes ripping the book.

Traceback (most recent call last):
  File "/home/amoxl/perlego-downloader/downloader.py", line 243, in <module>
    asyncio.run(html2pdf())
  File "/usr/lib/python3.10/asyncio/runners.py", line 44, in run
    return loop.run_until_complete(main)
  File "/usr/lib/py

[2022-10-03 04:47] Alexmonroeni commented on #19
Can you help me fix it ? I would appreciate it, you seem like a hard
worker. :)

On Sun, Oct 2, 2022 at 9:01 PM Alex Monroe ***@***.***> wrote:

[2022-10-04 10:31] omargaber opened #20 "Script stops after running after downloading few chapters"
Not really sure if the script has a timeout limit but after printing out the statement "chapters 74-75 downloaded"
the script stops making any progress. and I also can't see the cache file created in the directory.
I'm running linux ubuntu

[2022-10-04 11:50] aimiiu opened #21 "No module named 'PIL'"
C:\Users\Ioana>python3 C:\Users\Ioana\Desktop\perlego\downloader.py
Traceback (most recent call last):
  File "C:\Users\Ioana\Desktop\perlego\downloader.py", line 2, in <module>
    from PIL import Image
ModuleNotFoundError: No module named 'PIL'

[2022-10-04 11:51] evmer commented on #21
duplicate of #17

[2022-10-04 11:51] #21 closed

[2022-10-04 11:51] #12 closed

[2022-10-04 12:04] evmer commented on #17
@aimiiu can you please remove uvloop from requirements.txt and re-run that command?

[2022-10-04 12:08] aimiiu commented on #17
Thank you for your help!

I get the message "Requirement already satisfied" as I already tried this before. After this, when I run the downloader.py I get:

C:\Users\Ioana>python3 C:\Users\Ioana\Desktop\perlego\downloader.py
Traceback (most recent call last):
  File "C:\Users\Ioana\Desktop\perlego\downloader.py", line 2, in <module>
    from PIL import Image
ModuleNotFoundError: No module named 'P

[2022-10-04 12:11] evmer commented on #17
@aimiiu try `pip3 install Pillow`

[2022-10-04 12:13] aimiiu commented on #17
C:\Users\Ioana>pip3 install Pillow
Collecting Pillow
  Downloading Pillow-9.2.0-cp310-cp310-win_amd64.whl (3.3 MB)
     ---------------------------------------- 3.3/3.3 MB 7.0 MB/s eta 0:00:00
Installing collected packages: Pillow
Successfully installed Pillow-9.2.0

C:\Users\Ioana>python3 C:\Users\Ioana\Desktop\perlego\downloader.py
Traceback (most recent call last):
  File "C:\Users\Ioana\Deskto

[2022-10-04 12:19] evmer commented on #17
@aimiiu please post here the output of `python3 -c "import Image"`

[2022-10-04 12:21] aimiiu commented on #17
@evmer please refer below:

C:\Users\Ioana>python3 -c "import Image"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'Image'

[2022-10-04 12:35] evmer commented on #17
@aimiiu there must have been an issue during the installation of the python dependences.
1) uninstall Pillow with `pip3 uninstall Pillow`
2) upgrade pip with `python3 -m pip install --upgrade pip `
3) re-download `requirements.txt` from [here](https://github.com/evmer/perlego-downloader/blob/main/requirements.txt) (copy-paste)
4) re-install the python3 dependences: `pip3 install -r requirements.tx

[2022-10-05 07:39] lyyangyy opened #22 "Unavailable in your region?"
Hi again,

I've managed to get the script working, however for whatever reason, there are some books from this series which I'm unable to run the script and it is giving me a "download error: connection timed out" (due to region)?

Could someone see if they're having the same issues? Here is one of the book iDs: 3286443
The title is: PPI California Civil Seismic Principles Practice Exams, 12th Edi

[2022-10-09 14:00] josema2242 opened #23 "help"
help me please I tried in ubuntu but it gave me an error

[2022-10-09 14:02] josema2242 commented on #9
help me please I tried in ubuntu but it gave me an error

[2022-10-09 15:09] r-dass commented on #20
Have the same issue :(

[2022-10-14 04:59] enDanac33 commented on #9
I get this error

o@o-B250M-DS3H:~/Escritorio$ python3 downloader.py
download error: Connection timed out
download error: Connection timed out
download error: Connection timed out
download error: Connection timed out
download error: Connection timed out
download error: Connection timed out
download error: Connection timed out

[2022-10-24 22:23] #22 closed

[2022-10-30 14:06] pandamoon21 commented on #9
I got this error too, but after I use an account with an active subscription. It's starting to download.

[2022-10-30 16:43] Vittoriodbn opened #24 "High Resources usage"
The script works, but I can't get the job done because I have to kill it due to high resources usage. I tried ulimit for RAM and cpulimit too but whenever the code uses chrome, then chrome's resources usage litterally skyrockets to a point where i have to shut down the computer if I wait to long.

[2022-11-01 19:44] Kaushal2525 opened #25 "I am getting an issue with the script"
it takes so long to download actually i am not been able to download single book with this script.
i am getting this screen only, surprisingly in all books it shows file size would be 86.8mb.
please help me out with this i am a medical student and i want to download some books.
it will be great if you reply.
<img width="1440" alt="Screenshot 2022-11-02 at 1 12 33 AM" src="https://user-images.githu

[2022-11-09 13:18] mhh27991 opened #27 "please could someone help"
after trying for hours i'm unable to get past the browser error problem

i'm just looking to download book id: 2059382

could someone kindly email me the epub or pdf file to: mhh27991@gmail.com

sorry to post here but thank you so much in advance

[2022-11-11 20:32] evmer commented on #27
see #9

[2022-11-11 20:32] #27 closed

[2022-11-11 20:32] #23 closed

[2022-11-15 17:32] sfoot13 opened #28 "Unexpected TOKEN - Windows 7 - Error"
Hello, first, thank you very much for this great tool.
Second, I'm having this error on Windows 7:

Símbolo (token) inesperado 'C:\\Users\\Mac\\AppData\\Local\\pyppeteer\\pyppeteer\\local-chromium\\588429\\chrome-win32\
\chrome.exe' en la expresión o la instrucción.
En línea: 1 Carácter: 914
+ 'C:\\Users\\Mac\\AppData\\Local\\pyppeteer\\pyppeteer\\local-chromium\\588429\\chrome-win32\\chrome.exe -

[2022-11-16 11:11] Moanrisy commented on #11
I have this problem too, @lyyangyy do you find solution?

[2022-11-16 11:12] Moanrisy opened #29 "The read operation timed out"
My internet is fine, what is this read operation time out mean?

[2022-11-16 11:14] evmer commented on #29
Duplicate of #11

[2022-11-16 11:19] Moanrisy commented on #29
@evmer I just re read the error again, and it was different error.
on issue #11 it say connection timed out.

but mine was "read operation timed out"

[2022-11-16 11:19] evmer commented on #28
Hello, chrome is missing from your local system. Run `pyppeteer-install` command and then restart the script.

[2022-11-16 11:21] evmer commented on #29
Can you please post here the full output?

[2022-11-16 11:30] Moanrisy commented on #29
![image](https://user-images.githubusercontent.com/17421945/202169109-893dcf8a-1377-4628-bd0d-27a205f13c77.png)

The printed error was on line 62

[2022-11-16 11:33] evmer commented on #29
Thank you. Can you share the BOOK_ID?

[2022-11-16 11:34] Moanrisy commented on #29
this is the book that I want
BOOK_ID = "2802894"

I try to use the book id from your video (youtube), it result the same error
BOOK_ID = "2173908"

[2022-11-16 11:55] Moanrisy commented on #29
After I remove the Bearer, it working :)

Whenever I consume API, I always need to include Bearer keyword.
This is the first time that I should omit the Bearer keyword.

[2022-11-16 12:53] Moanrisy commented on #9
I got this bug too. Already reinstall chrome, put chromedriver on env PATH C:/Windows. None of this working.
Now I will try WSL ubuntu.

[2022-11-16 14:02] Moanrisy commented on #9
![image](https://user-images.githubusercontent.com/17421945/202200752-8f2d5109-efbe-4758-a43f-ade9ec92b825.png)

And I still got the error :'(

[2022-11-16 14:46] Moanrisy commented on #9
Finally it work after reading this
https://stackoverflow.com/a/71935536/10486986

[2022-11-17 15:04] herovax opened #30 "Issue on Windows 10"
I received a message that says "perlego-downloader-main\downloader.py", line 2, in <module> from PIL import Image ModuleNotFoundError: No module named 'PIL'". I'm not sure which step did I do wrong.

[2022-11-18 09:36] evmer commented on #30
Hello, do you have installed the Python requirements with `pip3 install -r requirements.txt`?

[2022-11-18 10:03] herovax commented on #30
Yes, it has successfully installed the entire list. Somehow the error starts at line 2. What module is that? Maybe I can reinstall that part.

[2022-11-18 10:05] evmer commented on #30
Try `pip install pillow`

[2022-11-19 02:34] sfoot13 commented on #28
Hello Evmer :smiley: :
After many tries, finally it worked! But I had to install Ubuntu on my notebook, was really easier with Linux, all the necessary files installed correctly.

I have just one question, the final PDF has very narrow margins, is it possible to change the dimension's margins?

Thank you very much for this incredible script!
Thank you very much and have a good day :smiley:
![Captu

[2022-11-20 05:44] Ivoryfancier commented on #25
Hi, I'm using macOS and met exactly the same issue as you. I finally solved it by running the script in the terminal instead of running it in phython3. Hopefully it will help you as well : )

[2022-11-21 16:28] cz-001 opened #31 "Error : Too many files open"
Firstly, a good piece of code and a lot of learning for us... the novices.
Secondly, the code breaks down when the number of pages > 1000 (approx) with an error : Too many files open
I've reduced number of threads from 50 to 20.

PUPPETEER_THREADS = 20

Still facing the same issue
Thanx

[2022-11-21 17:34] Faisalnd opened #32 "Connection timed out"
Greetings,

I've Mac OS 16, and I followed the instractions exactly step by step by the thing is everytime I run the command it says
perlego % python3 downloader.py
download error: Connection timed out

please your support

[2022-11-21 20:55] wfan11111 commented on #32
I have the same issue

[2022-11-21 22:27] sfoot13 commented on #32
You need an active account, maybe you have problems with the CC or don't have an active subscription.

[2022-11-21 22:31] evmer commented on #32
Duplicate of #29.
Please follow the troubleshooting process explained there.

As @sfoot13 said, most likely you mistyped the Auth token/or don't have an active subscription.

[2022-11-22 07:57] wfan11111 commented on #32
I have an active subscription and double-checked the auth token. I also followed #29 and continue to get a connection timed out error.

[2022-11-23 16:42] caseypaite commented on #29
Same issue here. The `"reCaptchaToken": AUTH_TOKEN` in line 32 might need to be changed to use appropriate value. I have checked the JSON equivalent string of that line on https://websocketking.com/ and same error response shows up.

[2022-11-24 07:02] gnawretep commented on #32
Is anyone solving this issue? It seems #29 didn't answer it.

[2022-11-24 07:05] gnawretep commented on #11
#29 didn't answer the solution, and it's "read operation timed out", not "connection timed out"

[2022-11-24 17:49] evmer commented on #31
Hey, try to reduce it to 1

[2022-11-25 11:37] bleedingsaber opened #33 "Issues: CERTIFICATE VERIFY FAILED"
After running the script, error shows below:

init_book_delivery() error: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:992)

I am sure I am copy and past correctly.

[2022-11-25 12:44] evmer commented on #33
Hey, thank you for reporting me this.

I disabled the SSL verification, can you please re-download the script and retry? Thank you!

[2022-11-25 13:16] bleedingsaber commented on #33
Yeah, it's working now. Thanks for your help.

[2022-11-25 13:47] bleedingsaber commented on #31
I reduced it to 1, about 450 pages still failed, saying "too many files open". Is that my computer too old?

[2022-11-25 14:06] caseypaite commented on #29
Works without issue with the latest commit. Thanks.

[2022-11-25 18:05] #33 closed

[2022-11-25 18:05] #32 closed

[2022-11-25 23:40] solomio312 opened #34 "browser closed"
Browser closed unexpectedly:
line 171, in html2pdf
    browser = await launch(options={
    line 249, in <module>
    asyncio.run(html2pdf())

[2022-11-26 15:17] evmer commented on #34
Closing as duplicate of #9

[2022-11-26 15:17] #34 closed

[2022-11-26 20:11] Faisalnd opened #35 "KeyError: 'event' line 70, in <module>"
Greetings everyone,

I've update the last files, yet I've an issue
hope you can help

with the following

% python3 downloader.py
chapters 0-1 downloaded
chapters 1-2 downloaded
chapters 2-3 downloaded
chapters 3-4 downloaded
chapters 4-5 downloaded
chapters 5-22 downloaded
chapters 22-34 downloaded
chapters 34-48 downloaded
chapters 48-49 downloaded
Traceback (most recent call last):
  File "/Use

[2022-11-28 06:57] FinancialEngineerLab opened #36 "RuntimeError: asyncio.run() cannot be called from a running event loop"
Hi Thank you for providing nice code.

Anyway, there is an error like
"
page 136-137 downloaded
page 137-138 downloaded
page 138-139 downloaded
Traceback (most recent call last):

  File ~\untitled0.py:250 in <module>
    asyncio.run(html2pdf())

  File ~\anaconda3\lib\asyncio\runners.py:33 in run
    raise RuntimeError(

RuntimeError: asyncio.run() cannot be called from a running event loop
"

Ho

[2022-11-28 15:33] rahulbanwasi opened #37 "what to do?"
OSError: [WinError 14001] The application has failed to start because its side-by-side configuration is incorrect. Please see the application event log or use the command-line sxstrace.exe tool for more detail

[2022-11-29 10:28] rahulbanwasi commented on #37
in get_ws_endpoint
    raise BrowserError('Browser closed unexpectedly:\n')
pyppeteer.errors.BrowserError: Browser closed unexpectedly:

[2022-11-30 06:12] caseypaite commented on #31
set the limit on number of open files using `ulimit -n 10240` . Try with higher number than 1024 if your document contains more pages.